{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dist/img/2.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'studentprofile' %}" class="d-block">{{ user.username }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-item">
            {% url 'studenthome' as studenthome %}
          <a href="{{ studenthome }}" class="nav-link {% if request.path == studenthome %} active {% endif %}">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <li class="nav-item">
            {% url 'viewattendance' as viewattendance %}
          <a href="{{ viewattendance }}" class="nav-link {% if request.path == viewattendance %} active {% endif %}">
            <i class="nav-icon fas fa-plus"></i>
            <p>
              View Attendance
            </p>
          </a>
        </li>
        <li class="nav-item">
            {% url 'studentapplyleave' as studentapplyleave %}
          <a href="{{ studentapplyleave }}" class="nav-link {% if request.path == studentapplyleave %} active {% endif %}">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
             Apply for Leave
            </p>
          </a>
        </li>
        <li class="nav-item">
            {% url 'studentfeedback' as studentfeedback %}
          <a href="{{ studentfeedback }}" class="nav-link {% if request.path == studentfeedback %} active {% endif %}">
            <i class="nav-icon fas fa-smile"></i>
            <p>
             Feedback
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
