{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dist/img/2.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'staffprofile' %}" class="d-block">{{ user.username }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-item">
            {% url 'staffhome' as staffhome %}
          <a href="{{ staffhome }}" class="nav-link {% if request.path == staffhome %} active {% endif %}">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <!-- <li class="nav-item">
            {% url 'change_password' as change_password %}
          <a href="{{ change_password }}" class="nav-link {% if request.path == change_password %} active {% endif %}">
            <i class="nav-icon fas fa-smile"></i>
            <p>
             Change Password
            </p>
          </a>
        </li> -->
        <li class="nav-item">
            {% url 'takeattendance' as takeattendance %}
          <a href="{{ takeattendance }}" class="nav-link {% if request.path == takeattendance %} active {% endif %}">
            <i class="nav-icon fas fa-plus"></i>
            <p>
              Take Attendance
            </p>
          </a>
        </li>
        <li class="nav-item">
            {% url 'updateattendance' as updateattendance %}
          <a href="{{ updateattendance }}" class="nav-link {% if request.path == updateattendance %} active {% endif %}">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Update Attendance
            </p>
          </a>
        </li>
        <li class="nav-item">
            {% url 'staffapplyleave' as staffapplyleave %}
          <a href="{{ staffapplyleave }}" class="nav-link {% if request.path == staffapplyleave %} active {% endif %}">
            <i class="nav-icon fas fa-calendar-check"></i>
            <p>
             Apply for Leave
            </p>
          </a>
        </li>
        <li class="nav-item">
            {% url 'stafffeedback' as stafffeedback %}
          <a href="{{ stafffeedback }}" class="nav-link {% if request.path == stafffeedback %} active {% endif %}">
            <i class="nav-icon fas fa-smile"></i>
            <p>
             Feedback
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
