{% extends 'staff/base.html' %}
{% block page_title %}
Update Attendance
{% endblock page_title %}
{% block main_content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                   <div class="card-header">
                   <h3 class="card-title">Update Attendance</h3>
                   </div>

                   <div class="card-body">

                   <div class="form-group">
                   <label>Subject </label>
                   <select class="form-control" name="subject" id="subjectid">
                       {% for subject in subjects %}
                          <option value="{{ subject.id }}">{{ subject.name }}</option>
                       {% endfor %}
                   </select>
                   </div>
                   <div class="form-group">
                   <label>Session Year</label>
                   <select class="form-control" name="session" id="sessionid">
                       {% for session in sessions %}
                          <option value="{{ session.id }}">{{ session.session_start }} to {{ session.session_end }}</option>
                       {% endfor %}
                   </select>
                   </div>
                   <div class="form-group">
                       <button type="button" class="btn btn-primary btn-block" id="fetchattendance">Fetch Attendance</button>
                   </div>
                   <div class="form-group" id="attendance_block" style="display:none">
                   <label>Attendance Date </label>
                   <select class="form-control" name="attendance_date" id="attendance_date">

                   </select>
                   </div>
                   <div class="form-group">
                       <div class="alert alert-danger" id="error_attendance" style="display:none">
                       </div>
                   </div>
                   <div class="form-group" id="fetchstudent_block" style="display:none">
                       <button type="button" class="btn btn-primary btn-block" id="fetchstudent">Fetch Student Data</button>
                   </div>
                   </div>
                   <!-- /.card-body -->


                   <div id="student_data" class="card-footer">

                   </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}
{% block custom_js %}
<script type="text/javascript">
    $(document).ready(function(){


        $("#fetchattendance").click(function(){
            var subject=$("#subjectid").val();
            var session=$("#sessionid").val();

            $.ajax({
                url:'{% url 'getexistingattendance' %}',
                type:'POST',
                data:{subject:subject,session:session},
            })
            .done(function(response){
                var json_data=JSON.parse(response);
                if(json_data.length>0)
                {
                    var html_data="";
                    for (key in json_data)
                    {
                        html_data+="<option value="+json_data[key]["id"]+">"+json_data[key]["attendance_date"]+"</option>";
                    }
                    $("#error_attendance").html("");
                    $("#error_attendance").hide();
                    $("#attendance_block").show();
                    $("#fetchstudent_block").show();
                    $("#attendance_date").html(html_data);
                }
                else
                {
                    $("#error_attendance").html("No Attendance Data Found");
                    $("#error_attendance").show();
                    $("#attendance_block").hide();
                    $("#fetchstudent_block").hide();
                    $("#attendance_date").html(html_data);
                }
            })
            .fail(function(){
                alert('Error in Fetching Attendance')
                $("#error_attendance").html("");
                $("#attendance_block").hide();
                $("#fetchstudent_block").hide();
            });

        })
        $("#fetchstudent").click(function(){
            var attendance_date=$("#attendance_date").val()

            $.ajax({
                url:'{% url 'getstudentattendance' %}',
                type:'POST',
                data:{attendance_date:attendance_date},
            })
            .done(function(response){
                var json_data=JSON.parse(response);
                console.log(json_data)
                    var div_data="<div class='form-group'> <label>Student Attendance : </label></div><div class='form-group'> <div class='row'>";
                    for(key in json_data)
                    {
                        div_data+="<div class='col-lg-3'> <div class='form-check'> <input type='checkbox' ";
                            if(json_data[key]['status'])
                            {
                                div_data+="checked='checked'";
                            }
                            else
                            {
                                div_data+="";
                            }
                            div_data+="name='student_data[]' value='"+json_data[key]['id']+ "'><label class='form-check-label'>"+ json_data[key] ['name']+"</label> ";
                            if(json_data[key]['status'])
                            {
                                div_data+="<b> [ Present ] </b>";
                            }
                            else
                            {
                                div_data+="<b> [ Absent ] </b>";
                            }
                            div_data+="</div> </div> ";
                    }
                    div_data+="</div></div>";
                    div_data+="<div class='form-group'>";
                    div_data+="<button id='saveattendance' class='btn btn-success btn-block' type='button' >Save Attendance Data</button>";
                    div_data+="<div class='form-group'>";
                    $('#student_data').html(div_data);
            })
            .fail(function(){
                alert('Error in Fetching Student')
            })
        $(document).on("click","#saveattendance",function(){
            $(this).attr("disable","disable")
            $(this).text("Saving Attendance Data...")
            var student_data=$("input[name='student_data[]']").map(function(){
                if($(this).is(":checked")){
                    return {"id":$(this).val(),"status":1};
                }
                else{
                    return {"id":$(this).val(),"status":0};
                }
                }).get()
            var attendance_date=$("#attendance_date").val();

            student_data=JSON.stringify(student_data)
            $.ajax({
                url:'{% url 'doupdateattendance' %}',
                type:'POST',
                data:{student_ids:student_data,attendance_date:attendance_date},
                })
            .done(function(response){
                if(response=="OK"){
                    alert("Attendance Save")
                }
                else{
                    alert("Error in Saving Data")
                }
                location.reload()
                console.log(response)
                })
            .fail(function(){
                alert('Error in Fetching Student')
                })
            })
        })
    })
</script>
{% endblock custom_js %}
